.logo-container {
  float: left;
}
.logo {
  max-height: fit-content;
}
.user-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.user-options-avatar {
  margin-right: 10px;
}
