.auth-form {
  width: 80vw;
  max-width: 370px;
}
.button-container .ant-form-item-control-input-content {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-form-button {
  width: 100%;
  max-width: 220px;
  margin-bottom: 5%;
}
.auth-link {
  align-self: flex-start;
}
